
.app-header {
    z-index: 9;
    top: 0;
    flex: 1 1 auto;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 5px 5px -5px #333;
    -moz-box-shadow: 0 5px 5px -5px #333;
    box-shadow: 0 5px 5px -5px #333;
}

.app-header span {
    font-size: 1em;
}

.right {
    position: absolute;
    right: 20px;
}

.project-search {
    margin-right: 20px;
    font-size: 0.7em;
}