/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html {
    line-height: 1.15;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

:root {
    --mainColor: #77d1cd;
    --errorColor: #e84318;
    --btn-press: #4fc6bd;
    --popupHeaderClr: #e9ecef;
    --secondaryClr: #1e405b;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    /* 1 */
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
}

button,
input {
    /* 1 */
    overflow: visible;
}

button,
select {
    /* 1 */
    text-transform: none;
}

button,
html [type="button"],

/* 1 */

[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    -moz-appearance: button;
    /* 2 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    margin: 5px;
    display: inline-block;
    width: auto;
    /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    /* 1 */
    /* font: inherit; */
    /* 2 */
}

details,

/* 1 */

menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*:disabled {
    cursor: not-allowed;
}

body {
    font-family: Roboto,"Helvetica Neue",sans-serif !important;
}

/***** End of reset agent css *****/

.container {
    width: 100%;
    height: auto;
    display: flex;
}

.main-container {
    width: 100%;
    height: 100vh;
}

.sidebar {
    width:220px;
    background-color: #172838;
}

.logo {
    width: 100%;
    height: 120px;
    background-color: #172838;
    display: block;
    color: azure;
    text-align: center;
    border-bottom: 1px solid #e9ecef
}

.logo h2 {
    font-size: 1.5em;
    line-height: 120px;
    font-weight: 100;
    text-justify: distribute;
    vertical-align: middle;
}

.profile {
    width: 100%;
    height: 100px;
    display: block;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 5px 5px -5px #333;
    -moz-box-shadow: 0 5px 5px -5px #333;
    box-shadow: 0 5px 5px -5px #333;
}

.profile .pic {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: url(assets/ico/account_circle.svg) no-repeat;
    background-size: cover;
    display: block;
    position: relative;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.profile>span {
    display: block;
    margin-top: 25px;
}

.menu {
    width: 100%;
    height: auto;
    display: block;
    color: #fff;
}

.menu .item {
    width: 100%;
    height: 100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    cursor: pointer;
}
.menu .item:hover {
    background-color: #4F83B2;
}

.menu .menu-icon {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.menu .active {
    background-color: #4F83B2;
}